@page "/"
@rendermode InteractiveServer

<PageTitle>Supportoversigt</PageTitle>

<h1>Velkommen til Arsenal Danmark Support</h1>

<p class="lead">
    Her kan du oprette nye supporthenvendelser og se eksisterende sager. Brug menuen til venstre.
</p>

<img src="images/viktor.png" alt="Support medarbejder" class="img-fluid rounded mb-4" />


